:host {
  display: block;
}
select{
  border: solid 0.063rem #a6a5a5;
  height: 2.375rem;
  width: 5.25rem;
  border-radius: 0.3rem;
  padding-left: 0.4rem;
  background-color: white;
  color: #909090;
  cursor: pointer;
}

