:host {
  display: block;
}

main {
  background-color: #fff;
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2.2rem;
  min-width: 31rem;
}

.event-actions {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.bi-x-lg{
  font-size: 0.7rem;
}
.cross-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 0.5rem;
  padding-top: 0.5rem
}
.menu {
  width: 6rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.1);
  top: 0;
  right: 0;
  z-index: 1;
  position: absolute;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 100%;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 1rem;
  font-size: 0.8rem;
  color: #777777;
}
.menu ul li{
  cursor: pointer;
}
i {
  cursor: pointer;
}
.description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap:2rem;
}
.field{
  flex-grow: 1;
  flex-basis: calc(33.33% - 2.2rem);
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20rem; 
}
.placeholder{
  font-size:0.8rem;
  margin: 0;
}
.field-content{
  padding: 0.2rem;
  font-size:0.9rem;
}
.field-box{
  background-color:#F7F7F7 ;
  height: 2.3rem;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.scene-number{
  color: #0070a7;
  margin-right: 0.6rem;
}
.scene-number-container{
  display: flex;
}
.scene-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25.175rem, 1fr));
  grid-column-gap:2.2rem;
  grid-row-gap:2.2rem;
}