:host {
  display: block;
}

button {
  background-color: transparent;
  border: 0.12rem solid #0078b2;
  height: 2.375rem;
  width: 5.25rem;
  border-radius: 0.3rem;
  color: #3c3c3c;
  cursor: pointer;
}

