<main>
    <section *ngIf="step==1" class="first-step steps">
        <!-- First Step --> 
        <section class="box">
            <div class="square square-one">
                <p>1</p>
            </div>
            <div>
                <p>Information</p>
            </div>
        </section>
        <section class="line line-one">
           
        </section>
        <!-- Second Step --> 
        <section class="box">
            <div  class="square square-two">
                <p>2</p>
            </div>
            <div>
                <p>Add Scenes</p>
            </div>
        </section>
        <section class="line line-two">
        </section>
        <!-- Third Step -->
        <section class="box">
            <div  class="square square-three">
                <p>3</p>
            </div>
            <div>
                <p>Review</p>
            </div>
        </section>
    </section>
    <section *ngIf="step==2" class="second-step steps">
        <!-- First Step --> 
        <section class="box">
            <div class="square square-one">
                <p>1</p>
            </div>
            <div>
                <p>Information</p>
            </div>
        </section>
        <section class="line line-one">
           
        </section>
        <!-- Second Step --> 
        <section class="box">
            <div  class="square square-two">
                <p>2</p>
            </div>
            <div>
                <p>Add Scenes</p>
            </div>
        </section>
        <section class="line line-two">
        </section>
        <!-- Third Step -->
        <section class="box">
            <div  class="square square-three">
                <p>3</p>
            </div>
            <div>
                <p>Review </p>
            </div>
        </section>
    </section>
    <section *ngIf="step==3" class="third-step steps">
        <!-- First Step --> 
        <section class="box">
            <div class="square square-one">
                <p>1</p>
            </div>
            <div>
                <p>Information</p>
            </div>
        </section>
        <section class="line line-one">
           
        </section>
        <!-- Second Step --> 
        <section class="box">
            <div  class="square square-two">
                <p>2</p>
            </div>
            <div>
                <p>Add Scenes</p>
            </div>
        </section>
        <section class="line line-two">
        </section>
        <!-- Third Step -->
        <section class="box">
            <div  class="square square-three">
                <p>3</p>
            </div>
            <div>
                <p>Review </p>
            </div>
        </section>
    </section>
</main>
