:host {
  display: block;
}

.loading-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  justify-items: center;
  align-items: center;
  height: 70%;
}

.loading-block {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  background: linear-gradient(to right, #f0f0f0, #d8d8d8);
  border-radius: 0.15rem;
  animation: blink 1.5s ease-in-out infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}


